.files-input-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;

    img {
        width: 100%;
        margin: 0 auto;
    }


    .MuiTab-root {
        max-width: none !important;
        min-width: 0 !important;
    }
}